.about-us {
    background-color: #f8f9fa;
  }
  
  .about-us-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
  }
  
  .about-us-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 1.2rem;
    text-align: center;
    color: #6c757d;
  }
  
  .about-us-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height:50px;
  }
  
  .about-us-icon {
    font-size: 2rem;
    color: #6f42c1;  /* Violet color */
    margin-bottom: 15px;
  }
  
  .about-us-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .about-us-card .card-text {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .about-us .btn-primary {
    background-color: #6f42c1;  /* Violet color */
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .about-us .btn-primary:hover {
    background-color: #5936a6;
  }
  